@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @media (prefers-reduced-motion) {
    *,
    *::after,
    *::before {
      animation: none !important;
      transition-duration: 0ms !important;
    }
    .title-shine > div,
    .aurora-lg > div,
    .aurora-md > div,
    .star-decoration > div {
      transform: translate(0%, -50%) !important;
    }
  }

  /* override a few @tailwindcss/typography styles */
  /* prevent adding backticks to code excerpts */
  /* .prose code::before,
  .prose code::after {
    content: '' !important;
  } */

  /* add heading theme styling */
  .prose h2 {
    @apply text-3xl md:text-4xl font-heading font-black;
  }

  .prose h3 {
    @apply font-heading font-bold;
  }

  .prose :where(code):not(:where([class~='not-prose'])) {
    display: inline-block;
  }

  .prose :where(a):not(:where([class~='not-prose'])) {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
    @apply text-slate-900 dark:text-white hover:underline;
  }

  .prose :where(code):not(:where([class~='not-prose'])) {
    @apply !text-slate-900 !bg-slate-600/10 dark:!text-white dark:!bg-slate-50/20 rounded-md px-1 leading-normal md:leading-snug !inline-block;
  }

  .prose :where(code):not(:where([class~='not-prose']))::before,
  .prose :where(code):not(:where([class~='not-prose']))::after {
    content: '' !important;
  }

  .prose .note p {
    margin: 0;
  }

  .prose .note a {
    color: inherit;
  }

  .code-tabs pre {
    margin-top: 0;
  }
}

@keyframes shine-animation {
  0% {
    transform: translate(-50% -50%);
  }
  33% {
    transform: translate(0%, -50%);
  }
  66% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes rotate-outer {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-inner {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dashoffset: -125px;
  }
}

@keyframes animate-arrow {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(10%);
  }
  50% {
    transform: translateX(0%);
  }
  75% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0%);
  }
}

@layer components {
  .title-shine {
    position: absolute;
    inset: -0.5rem;
    overflow: hidden;
    z-index: -1;
    user-select: none;
    pointer-events: none;
    filter: blur(50px);
    @apply opacity-60 dark:opacity-50;
  }

  .aurora-lg {
    width: 391px;
    height: 185px;
    overflow: hidden;
    mask: url('data:image/svg+xml;utf8,<svg width="391" height="185" viewBox="0 0 391 185" xmlns="http://www.w3.org/2000/svg"><path d="M113.5 120H276.896C281.031 120 284.396 123.364 284.396 127.5C284.396 131.636 281.031 135 276.896 135H219.396C205.611 135 194.396 146.215 194.396 160C194.396 173.785 205.611 185 219.396 185C223.538 185 226.896 181.643 226.896 177.5C226.896 173.357 223.538 170 219.396 170C213.882 170 209.396 165.514 209.396 160C209.396 154.486 213.882 150 219.396 150H276.896C289.303 150 299.396 139.906 299.396 127.5C299.396 115.094 289.303 105 276.896 105H113.5C109.358 105 106 108.357 106 112.5C106 116.643 109.358 120 113.5 120Z"/><path d="M7.5 55H170.896C175.031 55 178.396 58.364 178.396 62.5C178.396 66.636 175.031 70 170.896 70H113.396C99.611 70 88.396 81.215 88.396 95C88.396 108.785 99.611 120 113.396 120C117.538 120 120.896 116.643 120.896 112.5C120.896 108.357 117.538 105 113.396 105C107.882 105 103.396 100.514 103.396 95C103.396 89.486 107.882 85 113.396 85H170.896C183.303 85 193.396 74.906 193.396 62.5C193.396 50.094 183.303 40 170.896 40H7.5C3.358 40 0 43.357 0 47.5C0 51.643 3.358 55 7.5 55Z" /><path d="M196 112.5C196 116.643 199.358 120 203.5 120H383.086C387.228 120 390.586 116.643 390.586 112.5C390.586 108.357 387.228 105 383.086 105H203.5C199.358 105 196 108.357 196 112.5Z" /><path d="M335.5 90C339.642 90 343 86.6421 343 82.5C343 78.3579 339.642 75 335.5 75C331.358 75 328 78.3579 328 82.5C328 86.6421 331.358 90 335.5 90Z" /><path d="M305.5 90C309.642 90 313 86.643 313 82.5V72.5C313 68.357 309.642 65 305.5 65C301.358 65 298 68.357 298 72.5V82.5C298 86.642 301.358 90 305.5 90Z" /><path d="M275.5 90C279.642 90 283 86.643 283 82.5V72.5C283 68.357 279.642 65 275.5 65C271.358 65 268 68.357 268 72.5V82.5C268 86.642 271.358 90 275.5 90Z" /><path d="M245.5 90C249.642 90 253 86.643 253 82.5V72.5C253 68.357 249.642 65 245.5 65C241.358 65 238 68.357 238 72.5V82.5C238 86.642 241.358 90 245.5 90Z" /><path d="M215.896 90C220.038 90 223.396 86.643 223.396 82.5V72.5C223.396 68.357 220.038 65 215.896 65C211.754 65 208.396 68.357 208.396 72.5V82.5C208.396 86.642 211.754 90 215.896 90Z" /><path d="M170.896 25C175.038 25 178.396 21.643 178.396 17.5V7.5C178.396 3.357 175.038 0 170.896 0C166.754 0 163.396 3.357 163.396 7.5V17.5C163.396 21.642 166.754 25 170.896 25Z" /><path d="M140.896 25C145.038 25 148.396 21.643 148.396 17.5V7.5C148.396 3.357 145.038 0 140.896 0C136.754 0 133.396 3.357 133.396 7.5V17.5C133.396 21.642 136.754 25 140.896 25Z" /><path d="M110.896 25C115.038 25 118.396 21.643 118.396 17.5V7.5C118.396 3.357 115.038 0 110.896 0C106.754 0 103.396 3.357 103.396 7.5V17.5C103.396 21.642 106.754 25 110.896 25Z" /><path d="M80.896 25C85.038 25 88.396 21.643 88.396 17.5V7.5C88.396 3.357 85.038 0 80.896 0C76.754 0 73.396 3.357 73.396 7.5V17.5C73.396 21.642 76.754 25 80.896 25Z" /><path d="M50.896 25C55.0381 25 58.396 21.6421 58.396 17.5C58.396 13.3579 55.0381 10 50.896 10C46.7539 10 43.396 13.3579 43.396 17.5C43.396 21.6421 46.7539 25 50.896 25Z" /></svg>')
      center/contain no-repeat;
  }

  .aurora-md {
    width: 331px;
    height: 120px;
    overflow: hidden;
    mask: url('data:image/svg+xml;utf8,<svg width="331" height="120" viewBox="0 0 331 120" xmlns="http://www.w3.org/2000/svg"><path d="M7.5 55H170.896C175.031 55 178.396 58.364 178.396 62.5C178.396 66.636 175.031 70 170.896 70H113.396C99.611 70 88.396 81.215 88.396 95C88.396 108.785 99.611 120 113.396 120C117.538 120 120.896 116.643 120.896 112.5C120.896 108.357 117.538 105 113.396 105C107.882 105 103.396 100.514 103.396 95C103.396 89.486 107.882 85 113.396 85H170.896C183.303 85 193.396 74.906 193.396 62.5C193.396 50.094 183.303 40 170.896 40H7.5C3.358 40 0 43.357 0 47.5C0 51.643 3.358 55 7.5 55Z" /><path d="M135.896 112.5C135.896 116.643 139.254 120 143.396 120H322.982C327.124 120 330.482 116.643 330.482 112.5C330.482 108.357 327.124 105 322.982 105H143.396C139.254 105 135.896 108.357 135.896 112.5Z" /><path d="M245.896 90C250.038 90 253.396 86.643 253.396 82.5V72.5C253.396 68.357 250.038 65 245.896 65C241.754 65 238.396 68.357 238.396 72.5V82.5C238.396 86.642 241.754 90 245.896 90Z" /><path d="M275.896 90C280.038 90 283.396 86.643 283.396 82.5V72.5C283.396 68.357 280.038 65 275.896 65C271.754 65 268.396 68.357 268.396 72.5V82.5C268.396 86.642 271.754 90 275.896 90Z" /><path d="M305.896 90C310.038 90 313.396 86.6421 313.396 82.5C313.396 78.3579 310.038 75 305.896 75C301.754 75 298.396 78.3579 298.396 82.5C298.396 86.6421 301.754 90 305.896 90Z" /><path d="M215.896 90C220.038 90 223.396 86.643 223.396 82.5V72.5C223.396 68.357 220.038 65 215.896 65C211.754 65 208.396 68.357 208.396 72.5V82.5C208.396 86.642 211.754 90 215.896 90Z" /><path d="M110.896 25C115.038 25 118.396 21.643 118.396 17.5V7.5C118.396 3.357 115.038 0 110.896 0C106.754 0 103.396 3.357 103.396 7.5V17.5C103.396 21.642 106.754 25 110.896 25Z" /><path d="M140.896 25C145.038 25 148.396 21.643 148.396 17.5V7.5C148.396 3.357 145.038 0 140.896 0C136.754 0 133.396 3.357 133.396 7.5V17.5C133.396 21.642 136.754 25 140.896 25Z" /><path d="M170.896 25C175.038 25 178.396 21.643 178.396 17.5V7.5C178.396 3.357 175.038 0 170.896 0C166.754 0 163.396 3.357 163.396 7.5V17.5C163.396 21.642 166.754 25 170.896 25Z" /><path d="M50.896 25C55.0381 25 58.396 21.6421 58.396 17.5C58.396 13.3579 55.0381 10 50.896 10C46.7539 10 43.396 13.3579 43.396 17.5C43.396 21.6421 46.7539 25 50.896 25Z" /><path d="M80.896 25C85.038 25 88.396 21.643 88.396 17.5V7.5C88.396 3.357 85.038 0 80.896 0C76.754 0 73.396 3.357 73.396 7.5V17.5C73.396 21.642 76.754 25 80.896 25Z" /></svg>')
      center/contain no-repeat;
  }

  .star-decoration {
    width: 50px;
    height: 68px;
    overflow: hidden;
    mask: url('data:image/svg+xml;utf8,<svg width="50" height="68" viewBox="0 0 50 68" xmlns="http://www.w3.org/2000/svg"><path d="M24.8135 0H25.177C27.3291 30.9762 50 31.4531 50 31.4531C50 31.4531 24.9993 31.9491 24.9993 67.7421C24.9993 31.9491 0 31.4531 0 31.4531C0 31.4531 22.6627 30.9762 24.8135 0Z" /></svg>')
      center/contain no-repeat;
  }

  .title-shine > div,
  .aurora-lg > div,
  .aurora-md > div,
  .star-decoration > div {
    width: 200%;
    height: 200%;
    background-image: linear-gradient(
      to bottom right,
      #33d3ff,
      #60a5fa,
      #8b5cf6,
      #f43f5e,
      #fde047
    );
    transform: translate(-50%, -50%);
    animation: shine-animation 3s infinite alternate;
  }
}

@layer utilities {
  .transition-all {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0ms,
      border 0ms;
  }
  .transition-all-with-shadow {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .animate-rotate-outer {
    animation: rotate-outer 2s linear infinite;
  }
  .animate-rotate-inner {
    animation: rotate-inner 1.5s ease-in-out infinite;
  }
  .animate-arrow {
    animation: animate-arrow 0.9s linear infinite;
  }
}
