/*
This custom Prism Theme was adapted, with modifications, from: https://github.com/PrismJS/prism-themes/blob/master/themes/prism-vsc-dark-plus.css
*/

/* main wrapper */
pre[class*='language-'] {
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  tab-size: 2;
  hyphens: none;
  overflow-x: auto;
  margin-bottom: 1rem;
  position: relative;
  padding: 2rem 0 2.5rem;
  min-width: 100%;
  color: #d4d4d4;
  text-shadow: none;
  font-family: Menlo, Monaco, Consolas, 'Andale Mono', 'Ubuntu Mono',
    'Courier New', monospace;

  /* make full-width on xs screens */
  @apply -mx-6 sm:mx-0 rounded-none sm:rounded-md;
}

pre[class*='language'][data-file='true'] {
  padding-top: 0rem;
}

/* inner wrapper */
pre[class*='language-'] > code {
  display: inline-block;
  min-width: 100%;
  position: relative;
}

/* line number indicators */
/* don't include line numbers in bash */
pre:not([data-language='bash']) .token-line::before {
  content: attr(data-line);
  position: sticky;
  left: 0;
  text-align: right;
  display: inline-block;
  width: 3.5rem;
  padding-right: 1.5rem;
  background-color: #1e1e1e;
  color: #d4d4d4;
}
/* re-add left padding in bash, since no line numbers */
pre[data-language='bash'] .token-line {
  padding-left: 1.5rem;
}

.token-line {
  position: relative;
  padding-right: 1rem;
  display: block;
  width: 100%;
  min-width: 100%;
}

pre[class*='language-']::selection,
code[class*='language-']::selection,
pre[class*='language-'] *::selection,
code[class*='language-'] *::selection {
  text-shadow: none;
  background: #264f78;
}

@media print {
  pre[class*='language-'],
  code[class*='language-'] {
    text-shadow: none;
  }
}

pre[class*='language-'] {
  background: #1e1e1e;
}

/*********************************************************
* Tokens
*/
.namespace {
  opacity: 0.7;
}

.token.doctype .token.doctype-tag {
  color: #569cd6;
}

.token.doctype .token.name {
  color: #9cdcfe;
}

.token.comment,
.token.prolog {
  color: #6a9955;
}

.token.punctuation,
.language-html .language-css .token.punctuation,
.language-html .language-javascript .token.punctuation {
  color: #d4d4d4;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.inserted,
.token.unit {
  color: #b5cea8;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.deleted {
  color: #ce9178;
}

.language-css .token.string.url {
  text-decoration: underline;
}

.token.operator,
.token.entity {
  color: #d4d4d4;
}

.token.operator.arrow {
  color: #569cd6;
}

.token.atrule {
  color: #ce9178;
}

.token.atrule .token.rule {
  color: #c586c0;
}

.token.atrule .token.url {
  color: #9cdcfe;
}

.token.atrule .token.url .token.function {
  color: #dcdcaa;
}

.token.atrule .token.url .token.punctuation {
  color: #d4d4d4;
}

.token.keyword {
  color: #569cd6;
}

.token.keyword.module,
.token.keyword.control-flow {
  color: #c586c0;
}

.token.function,
.token.function .token.maybe-class-name,
.token.function.maybe-class-name {
  color: #dcdcaa;
}

.token.regex {
  color: #d16969;
}

.token.important {
  color: #569cd6;
}

.token.italic {
  font-style: italic;
}

.token.constant {
  color: #9cdcfe;
}

.token.class-name,
.token.maybe-class-name,
.token.tag.class-name {
  color: #4ec9b0;
}

.token.console {
  color: #9cdcfe;
}

.token.parameter {
  color: #9cdcfe;
}

.token.interpolation {
  color: #9cdcfe;
}

.token.punctuation.interpolation-punctuation {
  color: #569cd6;
}

.token.boolean {
  color: #569cd6;
}

.token.property,
.token.variable,
.token.imports .token.maybe-class-name,
.token.exports .token.maybe-class-name,
.token.imports.maybe-class-name,
.token.exports.maybe-class-name {
  color: #9cdcfe;
}

.token.selector {
  color: #d7ba7d;
}

.token.escape {
  color: #d7ba7d;
}

.token.tag {
  color: #569cd6;
}

.token.tag .token.punctuation {
  color: #808080;
}

.token.cdata {
  color: #808080;
}

.token.attr-name {
  color: #9cdcfe;
}

.token.attr-value,
.token.attr-value .token.punctuation {
  color: #ce9178;
}

.token.attr-value .token.punctuation.attr-equals {
  color: #d4d4d4;
}

.token.entity {
  color: #569cd6;
}

.token.namespace {
  color: #4ec9b0;
}
/*********************************************************
* Language Specific
*/

pre[class*='language-javascript'],
code[class*='language-javascript'],
pre[class*='language-jsx'],
code[class*='language-jsx'],
pre[class*='language-typescript'],
code[class*='language-typescript'],
pre[class*='language-tsx'],
code[class*='language-tsx'] {
  color: #9cdcfe;
}

pre[class*='language-css'],
code[class*='language-css'] {
  color: #ce9178;
}

pre[class*='language-html'],
code[class*='language-html'] {
  color: #d4d4d4;
}

.language-regex .token.anchor {
  color: #dcdcaa;
}

.language-html .token.punctuation {
  color: #808080;
}

.token-line[data-highlighted='true'] {
  /* background: #4d4d4d; */
  background: #1b3d32;
  text-shadow: 1px 1px 1px #1e1e1e !important;
}

.token-line[data-highlighted='true']:before {
  /* background: hsl(0, 0%, 30%) !important; */
  background-color: #1b3d32 !important;
  text-shadow: 1px 1px 5px #1e1e1e !important;
  box-shadow: inset 5px 0 0 #10b981;
}
